body{
    background-color:rgb(211, 211, 211);
    color: rgb(32, 32, 32)

    


}


.container{
    
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;

    width:800px;
    height:1200px;
    box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.262)
    /* background-image: ;
    background-repeat: no-repeat; */
    }



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9em;
    position: absolute;
    top :100px;
    color : rgb(20, 20, 20);
}


.pat{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    position: absolute;
    top: 330px;
    left: 100px;
    color : rgb(124, 10, 10);
  }

.shapes{
    position: absolute;
    width: "800px" ;
    height: "1200px";
    
    /* z-index: -1; */
  }



/* #move{
animation-name:move;
animation-duration: 6s;
animation-iteration-count: infinite;
transition: ease;

} */

@keyframes move{
0%{background-color: blanchedalmond;}
25%{background-color: blue;}
100%{background-color: blanchedalmond;}
}

.words{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.6em;
    font-weight: 700;
    color:rgba(20, 20, 20, 0.973)
    
   
    

}.words p{
    
    display: inline-block;
    /* text-align: justify; */
    width: 235px;
    padding-left: 10px;
    padding-top:  20px;

}

.box{
background: white;
position: relative;
overflow:hidden;
top: 375px; 
width:  310px;
height: 310px;
animation-name: run;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
z-index: -2;
}

@keyframes run {
0% {background-color: rgba(255, 255, 255, 0.781);   left: 15px;   top: 340px;}
25% {background-color: rgba(158, 9, 9, 0.726);    left: 475px; top: 340px;}
50% {background-color: rgba(236, 93, 217, 0.705);  left: 475px; top: 830px;}
75% {background-color: rgba(52, 52, 247, 0.712);   left: 15px;   top: 830px;}
100% {background-color: rgba(255, 255, 255, 0.74); left: 15px;   top: 340px;}
}
 